<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.platform.menu.mapper.MenuMapper">
	<resultMap id="BaseResultMap" type="com.iss.platform.menu.pojo.Menu">
		<!-- WARNING - @mbg.generated -->
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="alias" jdbcType="VARCHAR" property="alias" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="p_id" jdbcType="VARCHAR" property="pId" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
	</resultMap>
</mapper>